.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.name-section {
  align-items: flex-end;
  background: rgb(182, 182, 182);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12rem;
  font-weight: 500;
  height: 100vh;
  justify-content: flex-end;
  padding: 10px;
  text-align: right;
}

.proj-section {
  border: 2px solid black;
}

.proj-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "proj-1 proj-2"
    "proj-3 proj-4"
    "proj-5 proj-6";
  grid-template-columns: 1fr 1fr;
  margin: 20px 10vw;
}

.proj {
  height: 16rem;
}

.proj-1 {
  background: black;
}
.proj-2 {
  background: red;
}
.proj-3 {
  background: yellow;
}
.proj-4 {
  background: blue;
}
.proj-5 {
  background: orange;
}
.proj-6 {
  background: grey;
}

.me-section {
  background: white;
  height: 100vh;
}

.headshot {
  height: 100vh;
}
