.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.name-section {
  align-items: flex-end;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12rem;
  font-weight: 500;
  height: 100vh;
  justify-content: flex-end;
  padding: 10px;
  text-align: right;
}

.proj-section {
  background: grey;
  height: 100vh;
}

.me-section {
  background: white;
  height: 100vh;
}

.headshot{
  height: 100vh;
}
