.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.name-section {
  align-items: flex-end;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12rem;
  font-weight: 500;
  height: 100vh;
  justify-content: flex-end;
  padding-right: 30px;
  text-align: right;
}

.proj-section {
}

.proj-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "proj-1 proj-2"
    "proj-3 proj-4"
    "proj-5 proj-6";
  grid-template-columns: 1fr 1fr;
  margin: 20px 10vw;
}

.proj {
  align-items: center;
  display: flex;
  font-size: 3rem;
  height: 16rem;
  justify-content: center;
  opacity: 0.7;
}

.proj:hover {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.proj-1 {
  background: url("./images/summit-register.jpg");
}

.summit-register-title {
  color: white;
}

.proj-2 {
  background: red;
}
.proj-3 {
  background: yellow;
}
.proj-4 {
  background: blue;
}
.proj-5 {
  background: orange;
}
.proj-6 {
  background: grey;
}

.me-section {
  background: white;
  height: 100vh;
}

.headshot {
  height: 50vw;
}
